GROQ_API_KEY=gsk_your_api_key_here
INVOICE_API_URL=invoice_api_url_here
INCIDENT_API_URL=your_incident_api_url_here
INCIDENT_API_USER=your_incident_api_user_here
INCIDENT_API_PASSWORD=your_incident_api_password_here